.days {
    height: 300px;
    width: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
}

.li-image {
    height: 300px;
    margin: 5px;

}

.li-card {
    display: inline-table;
    row-gap: 50px;
    width: 180px;
    margin: 5px;
}

.robot {
    position: absolute;
    margin: auto;
    top: 40%; 
    left: 40%; 
    justify-content:center;
    
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 115, 165);
    border-radius: 10px;
    padding: 40px;
    font:menu;
    font-size: 25px;
}

.header {
    text-align: center;
}

.nav {
    text-align: center;
}
 .form {
    margin-bottom: 10px;
    text-align: center;
    top: 50%;
    left: 50%;
 }

 .add {
    display: flex;
    justify-content: center;
    margin-top: 100px;
 }

